@model List<Disk>;
@{
    ViewData["Title"] = "Disk Page";
}


<div>
    <h1>@ViewData["Title"]</h1>
    <a asp-controller="Disk" asp-action="Add">Add a disk</a>
    <table class="table">
        <thead>
            <tr>
                <td>DiskID</td>
                <td>Title</td>
                <td>Genre</td>
                <td>StatusId</td>
                <td>DiskTypeId</td>

            </tr>
        </thead>

        <tbody>

            @foreach (Disk d in Model)
            {
                <tr>
                    <td>@d.DiskId</td>
                    <td>@d.DiskName</td>
                    <td>@d.GenreId</td>
                    <td>@d.StatusId</td>
                    <td>@d.DiskTypeId</td>
                    <td><a asp-controller="Disk" asp-action="Edit"asp-route-id="@d.DiskId">Edit</a></td>
                    <td><a asp-controller="Disk" asp-action="Delete" asp-route-id="@d.DiskId">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>