@model List<Borrower>;
@{
    ViewData["Title"] = "Borrower Page";
}
<div>
    <h1>Borrower Information</h1>
    <a asp-controller="Borrower" asp-action="Add">Add a Borrower</a>
    <table class="table">
        <thead>
            <tr>
                <td>BorrowerId</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Phone Number</td>

            </tr>
        </thead>

        <tbody>

        @foreach (Borrower b in Model)
        {
            <tr>
                <td>@b.BorrowerId</td>
                <td>@b.FirstName</td>
                <td>@b.LastName</td>
                <td>@b.Phone</td>
                <td><a asp-controller="Borrower" asp-action="Edit" asp-route-id="@b.BorrowerId">Edit</a></td>
                <td><a asp-controller="Borrower" asp-action="Delete" asp-route-id="@b.BorrowerId">Delete</a></td>
            </tr>
        }
        </tbody>
    </table>
</div>
